#heroSection,
#aboutSection {
  padding: 5rem 0;
}
#headerSection {
  border-bottom: white 3px solid;
}
#header {
  width: $main-width;
  margin: auto;
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.navIcon,
.navLinks-container {
  margin-left: auto;
}
.navLinks-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navLinks {
  margin: 0 1vw 0 1vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
  #header {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .navBar {
    display: none !important;
  }
}

/* sidebar Nav */

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  font-size: $section;
  color: black;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: solid 1px white;
}

.menuNav {
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: -20px;
  background: white;
  left: 100vw;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  max-width: $main-width;
  z-index: 9;
}

.menuNav.showMenu {
  color: black;
  width: $main-width;
  left: 20vw;
  transition: all 0.3s ease-in-out;
}

.navBar a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  text-decoration: none;
  border-bottom: solid black 3px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  width: $main-width;
}
