.project-title {
  font-size: $mFont;
  width: 100%;
  text-align: center;
  margin: auto;
  margin: 2rem 0;
}

.project-container {
  width: $main-width;
  margin: 0px calc((100vw - #{$main-width}) / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap;
}
.card-container {
  border: red solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-list {
  width: $main-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card,
.dropdown-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  min-width: 175px;
  min-height: 200px;
  color: black;
  margin: 1rem;
  border-radius: 20px;
}

.card {
  width: 8vw;
  height: 15vw;
}
.card h1,
.dropdown-card h1 {
  font-size: clamp(12px, 4vw, 18px);
  text-align: center;
}
.card img {
  min-height: 100px;
  height: 5vw;
  width: 100%;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hide {
  display: none;
}
.show {
  display: flex;
}
