.project-title {
  font-size: $section;
  font-family: $titleFont;
  font-weight: $titleWeight;
  width: 100%;
  text-align: center;
  margin: auto;
  margin: 2rem 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-container {
  width: $main-width;
  margin: 2rem calc((100vw - #{$main-width}) / 2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-container h1 {
  font-family: $titleFont;
  font-weight: $titleWeight;
  text-transform: uppercase;
  font-size: $cards;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-list {
  width: $main-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card,
.dropdown-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  min-width: 175px;
  min-height: 200px;
  color: black;
  margin: 1rem;
  border-radius: 20px;
  gap: 0;
}

.card {
  width: 14vw;
  height: 18vw;
}

.dropdown-card {
  width: 40vw;
  min-height: 18vw;
}

.dropdown-card h1 {
  padding: 0;
}
.dropdown-card p {
  margin-top: 0;
  padding: 0;
  width: 90%;
}
.card img {
  min-height: 100px;
  height: 10vw;
  width: 100%;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hide {
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.show {
  height: auto;
  width: auto;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
