.project-title {
  font-size: $mFont;
  width: 100%;
  text-align: center;
  margin: auto;
  margin: 2rem 0;
}
.card-container {
  width: $main-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  color: #000;
}

.hide {
  display: none;
}
.show {
  display: flex;
}
// .solo-card {
//   width: calc(#{$main-width}/ 1);
// }

// .duo-card {
//   width: calc((#{$main-width}) / 3);
// }
// .trio-card {
//   width: calc(#{$main-width} / 4);
// }
