#stack {
  background: #fff;
  color: black;
}

.stack-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  height: 5vw;
  width: 5vw;
  background-color: $blueGrey;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box > .stack-icon {
  color: red;
  background-color: red;
  font-size: 18px;
}
.box h3 {
  text-align: center;
  color: blue;
}
