#stack {
  background: #fff;
  color: black;
}

.stack-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.box {
  height: 5vw;
  width: 5vw;
  background-color: aqua;
}
