:root {
  --main-width: 72vw;
  --sFont: 1rem;
  --mFont: 1.2rem;
  --lFont: 2rem;
  --xlFont: 4rem;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #2f4454;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: var(--sFont);
}
#heroSection,
#aboutSection {
  padding: 5rem 0;
}
a {
  text-decoration: none;
  color: inherit;
}
#headerSection {
  border-bottom: white 3px solid;
}
#header {
  width: var(--main-width);
  margin: auto;
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.navIcon,
.navLinks-container {
  margin-left: auto;
}
.navLinks-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navLinks {
  margin: 0 1vw 0 1vw;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.hero-header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: var(--xlFont);
  margin: 0;
}

.job {
  font-size: var(--lFont);
}
.lName {
  background: #fff;
  color: #000;
  width: fit-content;
  text-align: center;
  margin: auto;
}

#aboutSection {
  background: #fff;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
#aboutR {
  margin-right: 25vw;
}
.bio {
  font-weight: 500;
}
.head-shot {
  width: 15vw;
}
.connectTitle {
  font-weight: 400;
}
#aboutL {
  margin-left: 25vw;
}
.connectTop > h2 {
  height: fit-content;
  width: fit-content;
  border-bottom: black 0.1rem solid;
  font-size: 1rem;
  padding-bottom: 0.75rem;
}
.iconDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  margin: 0 0.4rem;
}
