:root {
  --main-width: 72vw;
  --sFont: 1rem;
  --mFont: 1.2rem;
  --lFont: 2rem;
  --xlFont: 4rem;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #2f4454;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

#heroSection,
#aboutSection {
  padding: 5rem 0;
}

#headerSection {
  border-bottom: white 3px solid;
}

#header {
  width: 72vw;
  margin: auto;
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navIcon,
.navLinks-container {
  margin-left: auto;
}

.navLinks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navLinks {
  margin: 0 1vw 0 1vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
  #header {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .navBar {
    display: none !important;
  }
}

/* sidebar Nav */
.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 10;
  font-size: clamp(12px, 5vw, 36px);
  color: black;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: solid 1px white;
}

.menuNav {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: -20px;
  background: white;
  left: 100vw;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  max-width: 72vw;
  z-index: 9;
}

.menuNav.showMenu {
  color: black;
  width: 72vw;
  left: 20vw;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navBar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  text-decoration: none;
  border-bottom: solid black 3px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  width: 72vw;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.hero-header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: var(--xlFont);
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.job {
  font-size: var(--lFont);
}

.lName {
  background: #fff;
  color: #000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: auto;
}

#aboutSection {
  background: #fff;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

#small-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50vw;
}

#aboutR {
  margin-top: 5vw;
}

.bio {
  font-weight: 500;
}

.head-shot {
  width: 15vw;
  min-width: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.connectTitle {
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#aboutL {
  width: 50%;
  min-width: 250px;
}

.connectTop > h2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: black 0.1rem solid;
  font-size: 1rem;
  padding-bottom: 0.75rem;
}

.iconDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  margin: 0 0.4rem;
}

.project-title {
  font-size: clamp(12px, 5vw, 36px);
  font-family: "Oswald";
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin: auto;
  margin: 2rem 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-container {
  width: 72vw;
  margin: 2rem calc((100vw - 72vw) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-container h1 {
  font-family: "Oswald";
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(12px, 3vw, 18px);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-list {
  width: 72vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card,
.dropdown-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #fff;
  min-width: 175px;
  min-height: 200px;
  color: black;
  margin: 1rem;
  border-radius: 20px;
  gap: 0;
}

.card {
  width: 14vw;
  height: 18vw;
}

.dropdown-card {
  width: 40vw;
  min-height: 18vw;
}

.dropdown-card h1 {
  padding: 0;
}

.dropdown-card p {
  margin-top: 0;
  padding: 0;
  width: 90%;
}

.card img {
  min-height: 100px;
  height: 10vw;
  width: 100%;
}

.flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hide {
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.show {
  height: auto;
  width: auto;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#stack {
  background: #fff;
  color: black;
  padding: 1rem 0;
}

#stack > h1 {
  text-align: center;
  font-size: clamp(12px, 5vw, 36px);
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stack-container {
  width: 72vw;
  margin: auto;
}

.stack-container h1 {
  text-align: left;
  font-size: clamp(12px, 4vw, 24px);
  font-family: "Oswald";
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boxes-container {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
}

.box {
  height: 6vw;
  width: 6vw;
  min-width: 55px;
  min-height: 60px;
  background-color: #4c6d86;
  color: white;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box * {
  color: white;
  margin-top: 0.5rem;
  text-align: center;
}

.box h3 {
  font-weight: 700;
  font-size: clamp(12px, 3vw, 18px);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-info-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info-container h1 {
  font-size: clamp(12px, 5vw, 36px);
  font-family: "Oswald";
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72vw;
  gap: 1vw;
}

input,
textarea {
  width: 72vw;
  height: 2rem;
  min-height: 25px;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  padding-left: 0.5rem;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

textarea {
  height: 7rem;
  min-height: 100px;
}

.contact-info-top {
  width: 72vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

.contact-info-top input {
  width: 100%;
}

input[type="submit"] {
  margin-left: auto;
  width: 10vw;
  min-width: 100px;
  text-transform: lowercase;
  font-size: clamp(12px, 3vw, 18px);
  font-family: "Montserrat";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.contact-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72vw;
  margin: auto;
  margin: 5vw auto;
}

.hex {
  font-size: clamp(12px, 4vw, 48px);
  height: 8vw;
  width: 8vw;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.hex:nth-child(even) {
  background-image: url("../public/hex_tilt.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% auto;
  border-left: solid white 0.1rem;
  border-right: solid white 0.1rem;
}

.hex:nth-child(odd) {
  background-image: url("../public/hex.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% auto;
}

footer {
  width: 95%;
  text-align: right;
  margin-bottom: 0.5rem;
  font-size: clamp(12px, 3vw, 18px);
}
/*# sourceMappingURL=style.css.map */